<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Maringotka na paloučku" />
    <meta name="robots" content="index,follow" />
    <title>Maringotka na paloučku</title>

        <!--OpenGraph meta tag-->

    <meta property="og:title" content="Maringotka na paloučku">
    <meta property="og:description" content="Ubytování v přírodě">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://maringotkanapaloucku.cz">
    <meta property="og:locale" content="cz_CZ">

    <!--  Favicon --> 
    

<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">



    <!-- Google Fonts: Raleway 400, Open Sans 400(i)/700(i) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Naše vlastní CSS -->

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>


      {% include "partials/header.njk" %}
      <main class="main">
      {{ content | safe }}
      </main>
      {% include "partials/footer.njk" %}
    <script src="/app.js"></script>
    <script src="/fslightbox.js"></script>
  </body>
</html>
